<%= form_with(model: ticket, local: true) do |form| %>
  <div class="field">
    <%= form.label :order_id %>
    <%= form.select :order_id, customer_orders(@orders), include_blank: true, id: :ticket_order_id %>
    <%= error_message(ticket, :order_id, "Please select an order") %>
  </div>

  <div class="field">
    <%= form.label :problem %>
    <%= form.select :problem, Ticket::PROBLEMS, include_blank: true, id: :ticket_problem %>
    <%= error_message(ticket, :problem, "Please select your problem") %>
  </div>

  <div class="field">
    <%= form.label :preferred_solution %>
    <%= form.select :preferred_solution, Ticket::RESOLUTIONS, include_blank: true, id: :ticket_preferred_solution %>
    <%= error_message(ticket, :preferred_solution, "Please select your preferred solution") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
